@using UCG.Models.ViewModels;
@using static UCG.Models.TbCliente;
@model UCG.Models.TbCliente

@{
    ViewData["Title"] = "Crear Cliente";
}

<h1 class="text-center mb-4">Crear Cliente</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                Información del Cliente
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <dl class="row">
                        <dt class="col-sm-4 mb-3">
                            <label asp-for="IdAsociacion" class="form-label"></label>
                        </dt>
                        <dd class="col-sm-8 mb-3">
                            @if (ViewBag.EsAdmin == true)
                            {
                                <select asp-for="IdAsociacion" class="form-select" asp-items="ViewBag.IdAsociacion"></select>
                            }
                            else
                            {
                                <input type="text" class="form-control mb-2" value="@ViewBag.Nombre" disabled />
                                <input type="hidden" asp-for="IdAsociacion" value="@ViewBag.IdAsociacion" />
                            }
                            <span asp-validation-for="IdAsociacion" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Apellido1" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Apellido1" class="form-control" />
                            <span asp-validation-for="Apellido1" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Apellido2" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Apellido2" class="form-control" />
                            <span asp-validation-for="Apellido2" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Nombre" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Cedula" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Cedula" class="form-control" />
                            <span asp-validation-for="Cedula" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Telefono" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Correo" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Correo" class="form-control" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Direccion" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="TipoCliente" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <select asp-for="TipoCliente" class="form-select" asp-items="Html.GetEnumSelectList<TipoDeCliente>()">
                                <option disabled selected>Seleccione un TipoCliente</option>
                            </select>
                            <span asp-validation-for="TipoCliente" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Estado" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <select asp-for="Estado" class="form-select" asp-items="Html.GetEnumSelectList<EstadoDeCliente>()">
                                <option disabled selected>Seleccione un Estado</option>
                            </select>
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </dd>
                    </dl>

                    <div class="d-flex justify-content-between mt-4">
                        <input type="submit" value="Guardar Cliente" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
