@using UCG.Models.ViewModels
@using static UCG.Models.TbMovimiento;
@model MovimientoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbMovimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="FechaMovimiento"></label>
                <input asp-for="FechaMovimiento" class="form-control" type="date" id="FechaMovimiento" />
                <span asp-validation-for="FechaMovimiento" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="IdAsociacion"></label>
                <select asp-for="IdAsociacion" class="form-select" asp-items="ViewBag.IdAsociacion" id="IdAsociacion">
                    <option disabled="" selected="">Seleccione una asociacion</option>
                </select>
                <span asp-validation-for="IdAsociacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdAsociado"></label>
                <select asp-for="IdAsociado" class="form-select" id="IdAsociado">
                    <option disabled="" selected="" >Seleccione un asociado</option>
                </select>
                <span asp-validation-for="IdAsociado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoMovimiento"></label>
                <select asp-for="TipoMovimiento" class="form-select" asp-items="Html.GetEnumSelectList<TipoDeMovimiento>()" id="TipoMovimiento">
                    <option disabled="" selected="" >Seleccione un tipo movimiento</option>
                </select>
                <span asp-validation-for="TipoMovimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdConceptoMovimiento"></label>
                <select asp-for="IdConceptoMovimiento" class="form-select" id="IdConceptoMovimiento">
                    <option value="">Seleccione un concepto</option>
                </select>
                <span asp-validation-for="IdConceptoMovimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdCategoriaMovimiento"></label>
                <select asp-for="IdCategoriaMovimiento" class="form-select" id="IdCategoria">
                    <option disabled="" selected="">Seleccione una categoria de movimiento</option>
                </select>
                <span asp-validation-for="IdCategoriaMovimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdCuenta"></label>
                <select asp-for="IdCuenta" class="form-select" id="IdCuenta">
                    <option disabled="" selected="">Seleccione una cuenta</option>
                </select>
                <span asp-validation-for="IdCuenta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FuenteFondo"></label>
                <select asp-for="FuenteFondo" class="form-select" asp-items="Html.GetEnumSelectList<FuentesDeFondo>()" id="FuenteFondo">
                    <option disabled="" selected="">Seleccione una fuente de los fondos</option>
                </select>
                <span asp-validation-for="FuenteFondo" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

        <script>
            const rutasMovimiento = {
                obtenerAsociados: '@Url.Action("ObtenerAsociadosPorAsociacion", "TbMovimientoes")',
                obtenerCuentas: '@Url.Action("ObtenerCuentasPorAsociacion", "TbMovimientoes")',
                obtenerConceptos: '@Url.Action("ObtenerConceptosPorTipo", "TbMovimientoes")',
                obtenerCategoria: '@Url.Action("ObtenerCategoriaPorTipoConcepto", "TbMovimientoes")'
            };
        </script>

        <!-- Tu script separado -->
        <script src="~/js/MovimientoScripts/MovimientoCreate.js"></script>
    }
 
}
