@using UCG.Models.ViewModels
@using static UCG.Models.TbAcuerdo;
@model AcuerdoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbAcuerdo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdActa" class="control-label"></label>
                <select asp-for="IdActa" class ="form-select" asp-items="ViewBag.IdActa">
                      <option disabled="" selected="">Seleccione un acta</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="NumeroAcuerdo" class="control-label"></label>
                <input asp-for="NumeroAcuerdo" class="form-control" />
                <span asp-validation-for="NumeroAcuerdo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoAcuerdo" class="control-label"></label>
                <input asp-for="MontoAcuerdo" class="form-control" />
                <span asp-validation-for="MontoAcuerdo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
