@model UCG.Models.TbCategoriaMovimiento

@{
    ViewData["Title"] = "Detalle de la Categoría de Movimiento";
}

<h1 class="text-center mb-4">Detalle de la Categoría de Movimiento</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow">
            <div class="card-header">
                Información de la Categoría
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4 mb-3">Nombre de la Categoría</dt>
                    <dd class="col-sm-8 mb-3">@Model.NombreCategoria</dd>

                    <dt class="col-sm-4 mb-3">Descripción</dt>
                    <dd class="col-sm-8 mb-3">@Model.DescripcionCategoria</dd>

                    <dt class="col-sm-4 mb-3">Asociado</dt>
                    <dd class="col-sm-8 mb-3">
                        @if (Model.IdAsociadoNavigation != null)
                        {
                            <a asp-controller="TbAsociadoes"
                               asp-action="Details"
                               asp-route-id="@Model.IdAsociadoNavigation.IdAsociado">
                                @Model.IdAsociadoNavigation.Nombre
                            </a>
                        }
                        else
                        {
                            <span>No tiene asociado asignado</span>
                        }
                    </dd>
                </dl>
                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="Edit" asp-route-id="@Model?.IdCategoriaMovimiento" class="btn btn-warning">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary ms-2">Volver al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
