@using UCG.Models.ViewModels
@model ColaboradorViewModel

@{
    ViewData["Title"] = "Crear Colaborador";
    var asociaciones = ViewBag.IdAsociacion as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>());

}

<h1 class="text-center mb-4">Crear Colaborador</h1>
<hr />

<div id="tempDataSwal"
     data-success="@TempData["SuccessMessage"]"
     data-error="@TempData["ErrorMessage"]">
</div>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                Información del Colaborador
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <dl class="row">
                        <dt class="col-sm-4 mb-3">
                            <label asp-for="IdAsociacion" class="form-label"></label>
                        </dt>
                        <dd class="col-sm-8 mb-3">
                            @if (!Convert.ToBoolean(ViewBag.EsAdmin))
                            {
                                <!-- Usuario NO es admin → puede elegir -->
                                <select asp-for="IdAsociacion" class="form-select" asp-items="asociaciones">
                                    <option disabled selected>Seleccione una asociación</option>
                                </select>
                            }
                            else
                            {
                                <!-- Usuario ES admin → asociación fija -->
                                <input type="text" class="form-control mb-2" value="@ViewBag.Nombre" disabled />
                                <input type="hidden" asp-for="IdAsociacion" value="@ViewBag.IdAsociacion" />
                            }
                            <span asp-validation-for="IdAsociacion" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Nombre" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Cedula" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Cedula" class="form-control" />
                            <span asp-validation-for="Cedula" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Telefono" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Correo" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Correo" class="form-control" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3"><label asp-for="Observaciones" class="form-label"></label></dt>
                        <dd class="col-sm-8 mb-3">
                            <textarea asp-for="Observaciones" class="form-control"></textarea>
                            <span asp-validation-for="Observaciones" class="text-danger"></span>
                        </dd>
                    </dl>

                    <div class="d-flex justify-content-between mt-4">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- TU SCRIPT personalizado (debe ir de último) -->
    <script src="~/js/ColaboradorScripts/ColaboradorFormHandler.js"></script>
}
