@using UCG.Models.ViewModels
@using static UCG.Models.TbConceptoMovimiento
@model ConceptoMovimientoViewModel

@{
    ViewData["Title"] = "Crear Concepto de Movimiento";
}

<h1 class="text-center mb-4">Crear Concepto de Movimiento</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                Información del Concepto
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <dl class="row">
                        <dt class="col-sm-4 mb-3">
                            <label asp-for="TipoMovimiento" class="form-label"></label>
                        </dt>
                        <dd class="col-sm-8 mb-3">
                            <select asp-for="TipoMovimiento" asp-items="Html.GetEnumSelectList<TiposDeConceptoMovimientos>()" class="form-select">
                                <option disabled selected>Seleccione un tipo de concepto</option>
                            </select>
                            <span asp-validation-for="TipoMovimiento" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3">
                            <label asp-for="Concepto" class="form-label"></label>
                        </dt>
                        <dd class="col-sm-8 mb-3">
                            <input asp-for="Concepto" class="form-control" />
                            <span asp-validation-for="Concepto" class="text-danger"></span>
                        </dd>
                    </dl>

                    <div class="d-flex justify-content-between mt-4">
                        <input type="submit" value="Guardar Concepto" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
