@model UCG.Models.TbConceptoMovimiento

@{
    ViewData["Title"] = "Detalle de Concepto de Movimiento";
}

<h1 class="text-center mb-4">Detalle de Concepto de Movimiento</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                Información del Concepto
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4 mb-3">Tipo de Movimiento</dt>
                    <dd class="col-sm-8 mb-3">@Model.TipoMovimiento</dd>

                    @if (Model.TipoMovimiento == UCG.Models.TbConceptoMovimiento.TiposDeConceptoMovimientos.Ingreso)
                    {
                        <dt class="col-sm-4 mb-3">Origen Ingreso</dt>
                        <dd class="col-sm-8 mb-3">@Model.TipoOrigenIngreso</dd>
                    }
                    else if (Model.TipoMovimiento == UCG.Models.TbConceptoMovimiento.TiposDeConceptoMovimientos.Egreso)
                    {
                        <dt class="col-sm-4 mb-3">Emisor Egreso</dt>
                        <dd class="col-sm-8 mb-3">@Model.TipoEmisorEgreso</dd>
                    }

                    <dt class="col-sm-4 mb-3">Concepto</dt>
                    <dd class="col-sm-8 mb-3">@Model.Concepto</dd>
                </dl>

                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="Edit" asp-route-id="@Model?.IdConceptoMovimiento" class="btn btn-warning">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
