<!-- este es el archivo index.cshtml -->
<!DOCTYPE html>
<html lang="es">
<head>

    <link rel="stylesheet" href="~/css/Home.css">

</head>
<body>

    <div class="container" data-0="transform:translateX(0%);" data-1000="transform:translateX(-405%);">
        <section>
            <div class="content">
            </div>
        </section>

        <section>
            <div class="content">
            </div>
        </section>

        <section>
            <div class="content">
            </div>
        </section>

        <section>
            <div class="content">


                <footer class="footer">
                    <div class="footer-container">
                        <div class="footer-card">
                            <div class="footer-section">
                                <h3>Contáctanos</h3>
                                <p>Números telefónicos</p>
                                <p>41051157</p>
                                <p>84162214</p>
                            </div>
                        </div>

                        <div class="footer-card">
                            <div class="footer-section">
                                <p>Correo electrónico</p>
                                <a href="mailto:Ucag2022@gmail.com">Ucag2022@gmail.com</a>
                                <a href="https://www.facebook.com/p/Union-Cantonal-Guatuso-100068351121575/?locale=es_LA" target="_blank" class="a">Facebook</a>

                            </div>
                        </div>

                        <div class="copyright">
                            <p>© 2025 UCAG. Todos los derechos reservados</p>
                        </div>
                    </div>
                </footer>

            </div>
        </section>




    </div>


    <script type="text/javascript" src="~/js/skrollr.js"></script>
    <script type="text/javascript">
        var s = skrollr.init();
    </script>


</body>
</html>


<!-- old index.cshtml -->
<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCAG MAP</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;1000&family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Home.css">
</head>
<body>


    <div class="content">

        <div class="left">
            <div class="Designer">
                <h1 class="title-main">UCAG MAP</h1>
                <p class="description">
                    Este es el mapa de la Unión Cantonal de Asociaciones de Guatuso.
                    Puede ingresar al mapa para ver todas las Asociaciones disponibles y su respectiva información.
                    Haga clic en el punto del mapa para ver la asociación.
                </p>
                <div class="button-container">
                    <a href="#" class="button">MAP</a>
                </div>
            </div>
        </div>


        <div class="right">
        </div>
    </div>
</body>
</html> -->
