<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCAG MAP</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;1000&family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Home.css">
</head>
<body>


    <div class="content">

        <div class="left">
            <div class="Designer">
                <h1 class="title-main">UCAG MAP</h1>
                <p class="description">
                    Este es el mapa de la Unión Cantonal de Asociaciones de Guatuso.
                    Puede ingresar al mapa para ver todas las Asociaciones disponibles y su respectiva información.
                    Haga clic en el punto del mapa para ver la asociación.
                </p>
                <div class="button-container">
                    <a href="#" class="button">MAP</a>
                </div>
            </div>
        </div>


        <div class="right">
        </div>
    </div>
</body>
</html>
