@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link href="~/css/Admin.css" rel="stylesheet" asp-append-version="true" />
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<section id="sidebar">

	<a class="brand" asp-area="" asp-controller="Home" asp-action="Index">
		<i class='bx bxs-home'></i>
		<span class="text">UCAG</span>
		</a>


	<ul class="side-menu top">

		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbClientes" asp-action="Index">
				<span class="text">Clientes</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbUsuarios" asp-action="Index">
				<span class="text">Usuarios</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbCategoriaMovimientoes" asp-action="Index">
				<span class="text">Categoria Movimiento</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbConceptoMovimientoes" asp-action="Index">
				<span class="text">Concepto Movimiento</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbProveedors" asp-action="Index">
				<span class="text">Proveedor</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbAsociadoes" asp-action="Index">
				<span class="text">Asociado</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbAsociacions" asp-action="Index">
				<span class="text">Asociacion</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbCuentums" asp-action="Index">
				<span class="text">Cuenta</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbProyectoes" asp-action="Index">
				<span class="text">Proyecto</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbDetalleMovimientoes" asp-action="Index">
				<span class="text">Detalle Movimiento</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbActums" asp-action="Index">
				
				<span class="text">Acta</span>
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbActaAsistenciums" asp-action="Index">
				
				<span class="text">Acta Asistencia</span>
				
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbAcuerdoes" asp-action="Index">
				
				<span class="text">Acuerdo</span>
				
			</a>
		</li>
		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbMovimientoes" asp-action="Index">
				<span class="text">Movimientos</span>
				</a>
		</li>


	


		<li class="active">
			<a class="nav-link text-dark" asp-area="" asp-controller="TbConceptoAsociacions" asp-action="Index">
				<span class="text">Conceptos de movimientos de Asociacion</span>

			</a>
		</li>

		
		</ul>



		
</section>
<!-- SIDEBAR -->
<!-- CONTENT -->
<section id="content">
	@* <!-- NAVBAR -->
	<nav>
		<i class='bx bx-menu'></i>
		<a href="#" class="nav-link">Categories</a>
		<form action="#">
			<div class="form-input">
				<input type="search" placeholder="Search...">
				<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
			</div>
		</form>
		<input type="checkbox" id="switch-mode" hidden>
		<label for="switch-mode" class="switch-mode"></label>
		<a href="#" class="notification">
			<i class='bx bxs-bell'></i>
			<span class="num">8</span>
		</a>
		<a href="#" class="profile">
			<img src="img/people.png">
		</a>
	</nav>
	<!-- NAVBAR --> *@
	<!-- MAIN -->
	<main>
		<div class="head-title">
			<div class="left">
				<h1>Dashboard</h1>
				<ul class="breadcrumb">
					<li>
						<a href="#">Dashboard</a>
					</li>
					<li><i class='bx bx-chevron-right'></i></li>
					<li>
						<a class="active" href="#">Home</a>
					</li>
				</ul>
			</div>


			<a class="btn-download" asp-area="" asp-controller="AsociacionPdf" asp-action="Index">
				<i class='bx bxs-cloud-download'></i>
					<span class="text">PDF </span>

				</a>
		


		</div>



		<ul class="box-info">
			<li>
				<i class='bx bxs-calendar-check'></i>
				<span class="text">
					<h3>1020</h3>
					<p>New Order</p>
				</span>
			</li>
			<li>
				<i class='bx bxs-group'></i>
				<span class="text">
					<h3>2834</h3>
					<p>Visitors</p>
				</span>
			</li>
			<li>
				<i class='bx bxs-dollar-circle'></i>
				<span class="text">
					<h3>$2543</h3>
					<p>Total Sales</p>
				</span>
			</li>
		</ul>


		<div class="table-data">
			<div class="order">
				<div class="head">
					<h3>Recent Orders</h3>
					<i class='bx bx-search'></i>
					<i class='bx bx-filter'></i>
				</div>
				<table>
					<thead>
						<tr>
							<th>User</th>
							<th>Date Order</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<img src="img/people.png">
								<p>John Doe</p>
							</td>
							<td>01-10-2021</td>
							<td><span class="status completed">Completed</span></td>
						</tr>
						<tr>
							<td>
								<img src="img/people.png">
								<p>John Doe</p>
							</td>
							<td>01-10-2021</td>
							<td><span class="status pending">Pending</span></td>
						</tr>
						<tr>
							<td>
								<img src="img/people.png">
								<p>John Doe</p>
							</td>
							<td>01-10-2021</td>
							<td><span class="status process">Process</span></td>
						</tr>
						<tr>
							<td>
								<img src="img/people.png">
								<p>John Doe</p>
							</td>
							<td>01-10-2021</td>
							<td><span class="status pending">Pending</span></td>
						</tr>
						<tr>
							<td>
								<img src="img/people.png">
								<p>John Doe</p>
							</td>
							<td>01-10-2021</td>
							<td><span class="status completed">Completed</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="todo">
				<div class="head">
					<h3>Todos</h3>
					<i class='bx bx-plus'></i>
					<i class='bx bx-filter'></i>
				</div>
				<ul class="todo-list">
					<li class="completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded'></i>
					</li>
					<li class="completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded'></i>
					</li>
					<li class="not-completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded'></i>
					</li>
					<li class="completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded'></i>
					</li>
					<li class="not-completed">
						<p>Todo List</p>
						<i class='bx bx-dots-vertical-rounded'></i>
					</li>
				</ul>
			</div>
		</div>
	</main>
	<!-- MAIN -->
</section>
<!-- CONTENT -->


<script src="~/js/Admin.js"></script>


@* <div class="content">

    <h2 class="title">Funciones de Administrador</h2>

    <div class="rowA">


        <div class="function">

            <i class="fa-solid fa-circle-user"></i>
            <h4>Usuarios</h4>
            <p>Control de Usuarios</p>

            <a class="actionA" asp-area="" asp-controller="TbUsuarios" asp-action="Index"><i class="fa-solid fa-arrow-right"></i></a>
        </div>


        <div class="function">

            <i class="fa-solid fa-newspaper"></i>
            <h4>Asociaciones</h4>
            <p>Control de Asociaciones</p>

            <a class="actionA" asp-area="" asp-controller="TbAsociacions" asp-action="Index"><i class="fa-solid fa-arrow-right"></i></a>
        </div>


    </div>

</div> *@