@model UCG.Models.TbMovimientoIngreso

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbMovimientoIngreso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMovimientoIngreso" />
            <div class="form-group">
                <label asp-for="IdAsociacion" class="control-label"></label>
                <select asp-for="IdAsociacion" class="form-control" asp-items="ViewBag.IdAsociacion"></select>
                <span asp-validation-for="IdAsociacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAsociado" class="control-label"></label>
                <select asp-for="IdAsociado" class="form-control" asp-items="ViewBag.IdAsociado"></select>
                <span asp-validation-for="IdAsociado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoTotalIngresado" class="control-label"></label>
                <input asp-for="MontoTotalIngresado" class="form-control" />
                <span asp-validation-for="MontoTotalIngresado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
