@using UCG.Models.ViewModels
@using static UCG.Models.TbCuentum;

@model CuentumViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbCuentum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAsociacion" class="control-label"></label>
                @if (ViewBag.EsAdmin == true)
                {
                    <input type="text" class="form-control" value="@ViewBag.Nombre" disabled />
                    <input type="hidden" asp-for="IdAsociacion" value="@ViewBag.IdAsociacion" />
                }
                else
                {
                    <select asp-for="IdAsociacion" class ="form-select" asp-items="ViewBag.IdAsociacion">
                        <option disabled="" selected="">Seleccione una asociacion</option> 
                    </select>
                }
                <span asp-validation-for="IdAsociacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCuenta" class="control-label"></label>
                <select asp-for="TipoCuenta" class="form-control" asp-items="Html.GetEnumSelectList<TipoDeCuenta>()">
                    <option disable="" selected="">Seleccione un tipo de cuenta</option>
                </select>
                <span asp-validation-for="TipoCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TituloCuenta" class="control-label"></label>
                <input asp-for="TituloCuenta" class="form-control" />
                <span asp-validation-for="TituloCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCuenta" class="control-label"></label>
                <input asp-for="NumeroCuenta" class="form-control" />
                <span asp-validation-for="NumeroCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
