@model UCG.Models.TbCuentum

@{
    ViewData["Title"] = "Editar Cuenta";
}

<h1 class="text-center mb-4">Editar Cuenta</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                Formulario de Edición
            </div>
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <input type="hidden" asp-for="IdCuenta" />

                    <div class="mb-3">
                        <label asp-for="IdAsociacion" class="form-label"></label>
                        <select asp-for="IdAsociacion" class="form-select" asp-items="ViewBag.IdAsociacion"></select>
                        <span asp-validation-for="IdAsociacion" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="TipoCuenta" class="form-label"></label>
                        <input asp-for="TipoCuenta" class="form-control" />
                        <span asp-validation-for="TipoCuenta" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="TituloCuenta" class="form-label"></label>
                        <input asp-for="TituloCuenta" class="form-control" />
                        <span asp-validation-for="TituloCuenta" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NumeroCuenta" class="form-label"></label>
                        <input asp-for="NumeroCuenta" class="form-control" />
                        <span asp-validation-for="NumeroCuenta" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Telefono" class="form-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Estado" class="form-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <button type="submit" class="btn btn-warning">Editar</button>
                        <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
