@model UCG.Models.TbPuesto

@{
    ViewData["Title"] = "Detalle del Puesto";
}

<h1 class="text-center mb-4">Detalle del Puesto</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow">
            <div class="card-header">
                Información del Puesto
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4 mb-3">Nombre del Puesto</dt>
                    <dd class="col-sm-8 mb-3">@Model.Nombre</dd>

                    <dt class="col-sm-4 mb-3">Descripción</dt>
                    <dd class="col-sm-8 mb-3">@Model.Decripcion</dd>
                </dl>

                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="Edit" asp-route-id="@Model?.IdPuesto" class="btn btn-warning">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
