@using UCG.Models.ViewModels;
@using static UCG.Models.TbMiembroJuntaDirectiva;
@model MiembroJuntaDirectivaViewModel;

@{
    ViewData["Title"] = "Crear Miembro de Junta Directiva";
}

<h1 class="text-center mb-4">Crear Miembro de Junta Directiva</h1>
<hr />
<div id="tempDataSwal"
     data-success="@TempData["SuccessMessage"]"
     data-error="@TempData["ErrorMessage"]"
     data-junta="@TempData["IdJuntaDirectiva"]">
</div>


<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                Información del Miembro
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <dl class="row">
                        @if (Model!.IdJuntaDirectiva != null && Model.IdJuntaDirectiva > 0)
                        {
                            <input type="hidden" asp-for="IdJuntaDirectiva" id="IdJuntaDirectiva" />
                        }
                        else
                        {
                            <div class="mb-3">
                                <label asp-for="IdJuntaDirectiva" class="form-label"></label>
                                <select asp-for="IdJuntaDirectiva" id="IdJuntaDirectiva" class="form-select" asp-items="@(ViewBag.IdJuntaDirectiva as SelectList)">
                                    <option disabled selected>Seleccione una junta directiva</option>
                                </select>
                                <span asp-validation-for="IdJuntaDirectiva" class="text-danger"></span>
                            </div>
                        }


                        <dt class="col-sm-4 mb-3">
                            <label asp-for="IdAsociado" class="form-label"></label>
                        </dt>
                        <dd class="col-sm-8 mb-3">
                            <select asp-for="IdAsociado" class="form-select" asp-items="ViewBag.IdAsociado" id="IdAsociado">
                                <option disabled selected>Seleccione un asociado</option>
                            </select>
                            <span asp-validation-for="IdAsociado" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-4 mb-3">
                            <label asp-for="IdPuesto" class="form-label"></label>
                        </dt>
                        <dd class="col-sm-8 mb-3">
                            <select asp-for="IdPuesto" class="form-select" asp-items="ViewBag.IdPuesto" id="IdPuesto">
                                <option disabled selected>Seleccione un puesto</option>
                            </select>
                            <span asp-validation-for="IdPuesto" class="text-danger"></span>
                        </dd>
                    </dl>

                    <div class="d-flex justify-content-between mt-4">
                        <input type="submit" value="Guardar Miembro" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/MiembroJuntaDirectivaScripts/MiembroJuntaDirectivaCreate.js"></script>
}
