@model UCG.Models.TbMiembroJuntaDirectiva

@{
    ViewData["Title"] = "Detalle de Miembro de Junta Directiva";
}

<h1 class="text-center mb-4">Detalle de Miembro de Junta Directiva</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow">
            <div class="card-header">
                Información del Miembro de la Junta Directiva
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4 mb-3">Estado</dt>
                    <dd class="col-sm-8 mb-3">@Model.Estado</dd>

                    <dt class="col-sm-4 mb-3">Asociado</dt>
                    <dd class="col-sm-8 mb-3">@Model.IdAsociadoNavigation.IdAsociado</dd>

                    <dt class="col-sm-4 mb-3">Junta Directiva</dt>
                    <dd class="col-sm-8 mb-3">@Model.IdJuntaDirectivaNavigation.IdJuntaDirectiva</dd>

                    <dt class="col-sm-4 mb-3">Puesto</dt>
                    <dd class="col-sm-8 mb-3">@Model.IdPuestoNavigation.IdPuesto</dd>
                </dl>

                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="Edit" asp-route-id="@Model?.IdMiembrosJuntaDirectiva" class="btn btn-warning">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
