@using UCG.Models.ViewModels
@using static UCG.Models.TbActaAsistencium;
@model ActaAsistenciaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbActaAsistencium</h4>
<hr />
<input type="hidden" id="TempDataSuccessMessage" value="@TempData["SuccessMessage"]" />
<input type="hidden" id="TempDataErrorMessage" value="@TempData["ErrorMessage"]" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
				<label asp-for="IdActa" class="control-label"></label>
				<select asp-for="IdActa" class ="form-select" asp-items="ViewBag.IdActa">
                    <option disabled="" selected="">Seleccione un acta</option>
                </select>
            </div>
     
            <div class="form-group">
                <label asp-for="IdAsociado" class="control-label"></label>
                <select asp-for="IdAsociado" class ="form-select" asp-items="ViewBag.IdAsociado">
                    <option disabled="" selected="">Seleccione un asociado</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/ActaAsistenciaScripts/ActaAsistenciaCreate.js"></script>
}


