html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


body {
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-top: 2rem;
}

.card-header {
    background-color: #f8f9fa;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

.form-control,
.login-btn {
    border-radius: 10px;
    font-size: 1rem;
    height: 45px;
}

    .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: #ff7f50;
    }

    .b-btn {
        background-color: #ff7f50;
        border: none;
        color: white;
        font-weight: bold;
        width: 100%;
    }

    .b-btn:hover {
        background-color: #e76f3c;
    }

    .register-link {
        color: #ff7f50;
        text-decoration: none;
        font-weight: bold;
    }

    .register-link:hover {
        color: #e76f3c;
        text-decoration: underline;
    }


    .back-button {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, transform 0.3s;
    }

    .back-button svg {
        width: 20px;
        height: 20px;
        fill: #555;
        transition: fill 0.3s;
    }

    .back-button:hover {
        background-color: #e9ecef;
        transform: translateX(-50%) scale(1.1);
    }

    .back-button:hover svg {
        fill: #333;
    }

