@{
    var rol = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
    var email = User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UCG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UCG.styles.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/site.scss" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>
<body>

    <!--========== HEADER ==========-->
    <header class="header">
        <div class="header__container">

            <a asp-controller="Home" asp-action="Index" class="header__logo">UCAG</a>

            @* <div class="header__search">
                <input type="search" placeholder="Search" class="header__input">
                <i class='bx bx-search header__icon'></i>
            </div> *@

            <a href="#" class=" nav-link text-decoration-none px-3 py-1 rounded-4 fw-bold" style="background-color: rgba(255, 120, 44, 1); color: #fff !important; font-weight: 600; border-radius: 12px;">
                @email
            </a>

            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
        </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a asp-controller="Home" asp-action="Index" class="nav__link nav__logo">
                    <i class='bx bxs-disc nav__icon'></i>
                    <span class="nav__logo-name">UCAG</span>
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Panel de Control</h3>

                        <a asp-controller="Home" asp-action="Index" class="nav__link active">
                            <i class='bx bx-home nav__icon'></i>
                            <span class="nav__name">Inicio</span>
                        </a>

                        <div class="nav__dropdown">
                            <a style="color: #58555E;" class="nav__link">
                                <i class='bx bx-user nav__icon'></i>
                                <span class="nav__name">Cuenta</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a asp-controller="Acceso" asp-action="LogIn" class="nav__dropdown-item">Ingresar</a>
                                    <a asp-controller="Home" asp-action="Privacy" class="nav__dropdown-item">Manual</a>
                                    @* <a asp-controller="Acceso" asp-action="Registrarse" class="nav__dropdown-item">Unirse</a> *@
                                </div>
                            </div>
                        </div>

                        @* <a style="color: #58555E;" class="nav__link">
                            <i class='bx bx-message-rounded nav__icon'></i>
                            <span class="nav__name">Messages</span>
                        </a> *@
                    </div>

                    <div class="nav__items">
                        <h3 class="nav__subtitle">Menu</h3>

                        @* <div class="nav__dropdown">
                            <a class="nav__link" style="color: #58555E;">
                                <i class='bx bx-bell nav__icon'></i>
                                <span class="nav__name">Notifications</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="#" class="nav__dropdown-item">Blocked</a>
                                    <a href="#" class="nav__dropdown-item">Silenced</a>
                                    <a href="#" class="nav__dropdown-item">Publish</a>
                                    <a href="#" class="nav__dropdown-item">Program</a>
                                </div>
                            </div>

                        </div> *@

                        

                        @* @if (rol == "root")
                        { *@
                            <a asp-controller="Home" asp-action="Union" class="nav__link">
                                <i class='bx bx-universal-access nav__icon'></i>
                                <span class="nav__name">Unión</span>
                            </a>
                        @* } *@

                        @* @if (rol == "root" || rol == "Admin")
                        { *@
                            <a asp-controller="Home" asp-action="Asociacion" class="nav__link">
                                <i class='bx bx-group nav__icon'></i>
                                <span class="nav__name">Asociación</span>
                            </a>
                        @* } *@

                    </div>
                </div>
            </div>

            <a class="nav__link nav__logout" style="color: #58555E;" asp-controller="Home" asp-action="Salir">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>


    @RenderBody()



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
