<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UCG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UCG.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UCG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbClientes" asp-action="Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbUsuarios" asp-action="Index">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbCategoriaMovimientoes" asp-action="Index">Categoria Movimiento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbConceptoMovimientoes" asp-action="Index">Concepto Movimiento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbProveedors" asp-action="Index">Proveedor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbAsociadoes" asp-action="Index">Asociado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbAsociacions" asp-action="Index">Asociacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbCuentums" asp-action="Index">Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbProyectoes" asp-action="Index">Proyecto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbDetalleMovimientoes" asp-action="Index">Detalle Movimiento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbActums" asp-action="Index">Acta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbActaAsistenciums" asp-action="Index">Acta Asistencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbAcuerdoes" asp-action="Index">Acuerdo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TbMovimientoes" asp-action="Index">Movimientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AsociacionPdf" asp-action="Index">PDF Asociaciones

                            </a>
                        </li>



                    </ul>

                    @if (!(User.Identity?.IsAuthenticated ?? false))
                    {

                        <div class="d-flex flex-column align-items-center gap-3 flex-lg-row">
                            <a class="nav-link text-dark text-decoration-none fw-bold" asp-controller="Acceso" asp-action="LogIn">Ingresar</a>
                            <a class="nav-link text-white text-decoration-none px-3 py-1 rounded-4 fw-bold"
                               asp-controller="Acceso" asp-action="Registrarse"
                               style="background-color: rgba(255, 120, 44, 1); font-weight: 600; border-radius: 12px;">
                                Registrarse
                            </a>
                        </div>
                    }
                    else
                    {

                        <div class="d-flex flex-column align-items-center gap-3 flex-lg-row">

                            <a href="#" class=" nav-link text-dark text-decoration-none px-3 py-1 rounded-4 fw-bold" style="background-color: rgba(255, 120, 44, 1); color: #fff; font-weight: 600; border-radius: 12px;">
                                @User.Identity.Name
                            </a>


                            <a asp-controller="Home" asp-action="Salir" class="text-dark text-decoration-none px-3 py-1 rounded-4 fw-bold" style="color: #000; font-weight: 600;">
                                <i class="fa-solid fa-right-from-bracket"></i> 
                            </a>


                            @if (User.IsInRole("admin"))
                            {
                                <a asp-controller="Admin" asp-action="Index" style="color: #000; font-weight: 600;">
                                    <i class="fa-solid fa-gears"></i>
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - UCG - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
