@using UCG.Models.ViewModels;
@using static UCG.Models.TbActum;
@model ActaViewModel;


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
 
<h4>TbActum</h4>
<hr />
<div id="tempDataSwal"
     data-success="@TempData["SuccessMessage"]"
     data-error="@TempData["ErrorMessage"]">
</div>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row g-3 mb-4">
        <!-- CARD 1: Información del Acta -->
        <div class="col-lg-6">
            <div class="card h-100 shadow">
                <div class="card-header">
                    Información del Acta
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="IdAsociacion" class="form-label"></label>
                        <select asp-for="IdAsociacion" class="form-select" asp-items="ViewBag.IdAsociacion" id="IdAsociacion">
                            <option disabled selected>Seleccione una asociación</option>
                        </select>
                        <span asp-validation-for="IdAsociacion" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdAsociado" class="form-label"></label>
                        <select asp-for="IdAsociado" class="form-select" asp-items="ViewBag.IdAsociado" id="IdAsociado">
                            <option disabled selected>Seleccione un asociado</option>
                        </select>
                        <span asp-validation-for="IdAsociado" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="FechaSesionTexto" class="form-label"></label>
                        <input asp-for="FechaSesionTexto" class="form-control" type="date" id="FechaSesionTexto" />
                        <span asp-validation-for="FechaSesionTexto" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NumeroActa" class="form-label"></label>
                        <input asp-for="NumeroActa" class="form-control" />
                        <span asp-validation-for="NumeroActa" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Descripcion" class="form-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Estado" class="form-label"></label>
                        <select asp-for="Estado" class="form-select" asp-items="Html.GetEnumSelectList<EstadoDeActa>()">
                            <option disabled selected>Seleccione un estado</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>


                </div>
            </div>
        </div>

        <!-- CARD 2: Relacionados (Asistencias y Acuerdos) -->
        <div class="col-lg-6">
            <div class="card h-100 shadow">
                <div class="card-header">
                    Relacionados
                </div>
                <div class="card-body">

                    <div class="row g-3">
                        <!-- Mini Card de Asistencias -->
                        <div class="col-12">
                            <div class="card borde-secondary-emphasis shadow">
                                <div class="card-header bg-secondary-emphasis d-flex justify-content-between align-items-center">
                                    <span>Asistencias</span>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detailModalAsistencia">
                                        Agregar
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-sm" id="detailsTableAsistencia">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Asociado</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Mini Card de Acuerdos -->
                        <div class="col-12">
                            <div class="card border-secondary-emphasis shadow">
                                <div class="card-header bg-secondary-emphasis d-flex justify-content-between align-items-center">
                                    <span>Acuerdos</span>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detailModalAcuerdo">
                                        Agregar
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-sm" id="detailsTableAcuerdo">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Monto</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="MontoTotalAcordado" class="form-label"></label>
                            <div class="input-group" id="montTA">
                                <span class="input-group-text">₡</span>
                                <input type="number" asp-for="MontoTotalAcordado" class="form-control" placeholder="Ingrese el monto del acuerdo"
                                       min="0"
                                       step="0.01"
                                       inputmode="decimal"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '')" id="montoTotalAcordado" />
                                <span asp-validation-for="MontoTotalAcordado" class="text-danger"></span>
                            </div>
                        </div>
                    </div> <!-- End row g-3 -->
                </div>
            </div>
        </div>
    </div>

    <!-- Botones Finales -->
    <div class="mt-4">
        <input type="submit" value="Editar" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-secondary ms-2">Volver</a>
    </div>

    <!-- Inputs ocultos -->
    <input type="hidden" id="ActaAsistenciaJason" name="ActaAsistenciaJason" value="@Model.ActaAsistenciaJason" />
    <input type="hidden" id="ActaAcuerdoJason" name="ActaAcuerdoJason" value="@Model.ActaAcuerdoJason" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
